circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
  opacity: 1.;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

text.node-label {
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    color: rgb(100,100,100);
}

svg { 
    display:block; /* required for firefox to give valid
    height and width used values for getComputedStyle()
    see https://bugzilla.mozilla.org/show_bug.cgi?id=874919 
                    */
    border: solid 1px gray;
    margin:1em;
    height:calc(100% - 10em);
    width: calc(100% - 2em);
}
