textarea {
  font-family: "Lucida Console", Monaco, monospace;
  resize: none;
}

#ribbon {
  padding: 10px;
  height: 12em;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

label.btn > input[type='radio']
{
    display: none;
}
