textarea {
  font-family: "Lucida Console", Monaco, monospace;
  height: 400px !important;
  resize: none;
}

.modal-dialog {
  width: 96%;
  max-width: 1100px;
}

.btn {
  margin-top: 5px;
}

.form-group {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.modal-body {
  overflow-y: auto;
}

body {
  margin-top: 10px;
}

.tooltip.left .tooltip-inner {
  background-color: #666;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #666;
}  

label.btn > input[type='radio']
{
    display: none;
}
