body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
	overflow: hidden;
}

header {
  height: 120px;
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

#chart {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	background:#fff;
	max-width: 1100px;
	width: 100%;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
	border: 1px solid #ccc;
}

#chart:-webkit-full-screen	{ max-width: 100% !important }
#chart:-moz-full-screen		{ max-width: 100% !important }
#chart:-ms-full-screen		{ max-width: 100% !important }
#chart:-o-full-screen		{ max-width: 100% !important }
#chart:full-screen			{ max-width: 100% !important }

.menu-top {
  position: absolute;
  top: 0px;
  padding: 10px;
  width: 100%;
}

.menu-bottom {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  width: 100%;
}

.menu-left {
  position: relative;
  float: left;
}

.menu-right {
  position: relative;
  float: right;
}

textarea {
  font-family: "Lucida Console", Monaco, monospace;
  height: 400px !important;
  resize: none;
}

.modal-dialog {
  width: 96%;
  max-width: 1100px;
}

.btn {
  margin-top: 5px;
}

.form-group {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.modal-body {
  overflow-y: auto;
}

label.btn > input[type='radio']
{
    display: none;
}

#settings-form {
    padding: 20px;
}
