body {
  background-color: rgb(220,220,220);
  background-image: url('../img/dotbracket_bg.png');
  background-position: top center;
  background-repeat: repeat-x;
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */

header {
  background-image: url('../img/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-color: rgb(0,103,149);
}

header hgroup {
  float: left;
  max-width: 700px;
  width: 60%;
  clear: both;
  color: white;
  text-align: right;
}

header img.logo {
  position: relative;
  float: left;
  top: 0px;
  height: 55px;
  margin-left: 10px;
}

header hgroup .name {
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.2em;
  color: white;
}

header hgroup .institute {
  font-size: 1.1em;
  font-weight: 400;
  color: #FFF;
}

header img.unilogo {
  float: right;
  padding: 5px 5px 0 0;
}
